@import url('https://fonts.googleapis.com/css2?family=Noto+Sans');

body {
    margin: 0;
    padding: 0 10px 10px 10px;
    font-family: 'Noto Sans', sans-serif;

}
.top-menu-bar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    height: 64px;
    background-color: rgb(70, 65, 150, .2);
}

.branding-group {
    display: flex;
}

.logo {}
.brand {
    padding-top: 7px;
    font-size: 22px;
    font-weight: bold;
    color: #0041C2;
}

.banner {
    flex: 1;
    max-height: 100%;
    object-fit: cover;
}

.menu {
    margin-left: auto;
}
.menu p {
    font-size: 22px;
    font-weight: bold;
    color: #0041C2;
}

.games-container-wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    height: 800px;
}


.games-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-color: #0041C2;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.clear {
    clear: both;
}
.games-container-header {
    display: flex;
    width: 100%;
    height: 45px;
    margin: 0 auto;
    background-color: rgb(70, 65, 150, .2);


}

#reactionTime p {
    position: relative;
    float: left;
    padding-top: 11px;
    margin-left: 10px;
}

#totalTime {
    margin-left: auto;
    padding-right: 10px;
}

#totalTime p {
    position: relative;
    float: left;
    padding-top: 11px;
}
.timeBox {
    width: 60px;
    height: 25px;
    margin: 8px 0 0 5px;

    position: relative;
    float: right;
    border-color: #0041C2;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

#shapeField {
    width: 100%;
    height: calc(100% - 45px);
    margin: 0 auto;
    border-color: deepskyblue;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

#clickshape {
    position: relative;

}